name: Environment Variables
on: workflow_dispatch
env:
  WF_ENV: ${{ secrets.WF_ENV}} 

jobs:
  log_env:
    runs-on: ubuntu-latest
    env:
      JOB_ENV: Available to only step in log_env
    steps:
      - name: log env variables
        env:
          STEP_ENV: Available to only step log env variables
        run: |
          echo "WF_ENV: ${WF_ENV}"
          echo "JOB_ENV: ${JOB_ENV}"
          echo "STEP_ENV: ${STEP_ENV}"
      - name: log env variables2
        run: |
          echo "WF_ENV: ${WF_ENV}"
          echo "JOB_ENV: ${JOB_ENV}"
          echo "STEP_ENV: ${STEP_ENV}"

  log_default_envs:
    runs-on: ubuntu-latest
    steps:
      - name: default env variables
        run: |
          echo "GITHUB_WORKFLOW	: ${GITHUB_WORKFLOW}"
          echo "GITHUB_SHA: ${GITHUB_SHA}"
          echo "GITHUB_REPOSITORY: ${GITHUB_REPOSITORY}"
          echo "GITHUB_RUN_ID: ${GITHUB_RUN_ID}"
          echo "HOME: ${HOME}"
          echo "WF_ENV: ${WF_ENV}"
          echo "JOB_ENV: ${JOB_ENV}"
          echo "STEP_ENV: ${STEP_ENV}"
