name: Matrix
on: [push]
#on: workflow_dispatch
jobs:
  node-version:
    strategy:
      matrix:
        os: [macos_latest, windows_latest,ubuntu-latest ]
        node-version: [8, 10, 12]
        exclude:
          - os: ubuntu-latest
            node_version: 8
            is_ubuntu_8: true
          - os: macos_latest
            node_version: 8
          - os: windows_latest
            node_version: 8
      #fail-fast: true
      max-parallel: 2
    runs-on: ${{matrix.os}}
    env:
      IS_UBUNTU_8: ${{matrix.is_ubuntu_8}}
    steps:
      - name: Log node version
        run: node -v
      - name: Log ENV
        run: echo $IS_UBUNTU_8
      - uses: actions/setup-node@v2
        with:
          node-version: ${{matrix.node_version}}
      - name: Log node version
        run: node -v
