name: Shell commands
on: 
  push:
    branches:
      - master
      - 'feature/*' # matches feature/featureA, feature/featureB
    tags:
      - v1.*
jobs:
  run-shell-command:
    runs-on: ubuntu-latest
    steps:
      - name: echo a string
        run: echo "Hello Workflow"
      - name: mutiline script
        run: |
          node -v
          npm -v
      - name: python commands
        run:  |
          import platform
          print(platform.processor())
        shell: python
  run-windws-command:
    runs-on: windows-latest
    needs: ["run-shell-command"]
    steps:
      - name: Directory PowerShell
        run: Get-Location
      - name: Directory Bash
        run: pwd
        shell: bash